.added {
    background-color: white;
    color: black;
}

.inactive:hover{
    cursor: default;
}


.shelf-container {
    width: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.add-shelf-title{
    width: 100%;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container>button {
    width: 100%;
    padding: .75rem 2rem;
    margin: 0.5rem;
    border-radius: 2rem;
    background-color: white;
    font-size: 1rem;
}

.buttons-container>button:hover,
.shelf-cancel-button:hover {
    background-color: rgba(235, 235, 235, 0.5);
    cursor: pointer;
}



.selected {
    outline: 2px solid  #ababb0;
    background-color: #ebebeb !important;
}

.shelf-cancel-button{
    background-color: black !important;
    color: white;
    border: none !important;
}

.want-to-read-div {
    border-radius: 1rem;
    overflow: hidden;
    width: fit-content
}

.want-to-read,
.want-to-read-main,
.add-to-list-button {
    background-color: #409D69;
    color: white;
    padding: 0.5rem;
    border: none;
    font-weight: bold;
}
.want-to-read-main {
    width: 9rem;
    border-right: 1px solid #377458;
}

.want-to-read:hover,
.want-to-read-main:hover,
.add-to-list-button:hover {
    background-color: rgb(73, 173, 126);
    cursor: pointer;
}