.book-cover-preview {
    width: 6rem;
}

.preview-image-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-form-container {
    max-width: 700px;
    margin: auto;
}

.book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.book-form label {
    text-align: left;
    width: 100%;
    padding: 0.5rem;
    padding-top: 1rem;
    box-sizing: border-box;
}

.book-form input,
.book-form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.book-form textarea {
    resize: none;
    padding: 0.5rem;
    min-height: 10rem;
    max-height: fit-content;
}

.book-form input:focus,
.book-form textarea:focus {
    outline: none;
}

.button-container {
    display: flex;
    width: 100%;
    gap: 2rem;
    padding: 0 2rem;
    box-sizing: border-box;
}

.button-container>button {
    width: 100%;
    font-size: 1rem;
}

.cancel-button {
    background-color: #f4f1ea;
    color: black;
    border-radius: 1rem;
}

.cancel-button:hover {
    background-color: #c6c4be;
}

.character-count,
.character-count-errors {
    color: white;
    border: 1px solid white;
    height: fit-content;
    width: fit-content;
    padding: 0.25rem;
    background-color: green;
    border-radius: 0.25rem;
    font-size: 0.75rem;
}

.character-count-errors {
    background-color: red;
}