.landing-page-container {
    background-color: #f4f1ea;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

.login-signup-container {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 2.5rem;
    right: 3rem;
}

.login-signup-container>a,
.login-signup-container>button {
    text-decoration: none;
    background-color: #333333;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0.125rem;
}

.login-signup-container>button {
    border: none;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.5rem 1.35rem;
    margin-top: 1rem;
}

.login-signup-container>a:hover,
.login-signup-container>button:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #564848;
}

.login-signup-container>p{
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.already-member {
    padding-top: 1rem;
}

.landing-logo-container {
    margin-left: 5rem;
}

.landing-logo-container > a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.landing-logo-container>a:hover {
    text-decoration: none;
}

.banner-container {
    width: 100%;
    margin: 0;
}
#banner{
    width: 100%;
}


.discovery-container,
.quote-container{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 2rem;
    width: fit-content;
    box-sizing: border-box;
    background-color: #f4f1ea;
}

.book-main-container {
    display: flex;
}

.book-main-container p {
    margin-left: 1.5rem;
}

.book-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.book-container img {
    width: 6rem;
    height: 8rem;
    margin: 0 0.5rem;
}

.footer-container {
    background-color: #f4f1ea;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.footer-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-container {
    display: flex;
    flex-direction: column;
}


#root {
    max-width: 100% !important;
}

.body-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    place-items: center;
    margin: auto;
    width: fit-content;
}

.quote-container>p {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.quote>span{
    font-style: normal;
    font-weight: bold;
}