/* TODO Add site wide styles */

.logo {
    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
}

body {
    font-family: sans-serif;
    width: 100%;
    margin: 0;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.75rem;
    font-weight: lighter;
}

.errors {
    color: red;
}

.hidden {
    display: none;
}

a {
    color: #00635D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}