/* TODO Add site wide styles */

.logo {
    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
}

body {
    font-family: sans-serif;
    width: 100vw;
    margin: 0;
    overflow-wrap: break-word;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.75rem;
    font-weight: lighter;
}

.errors {
    color: red;
}

.hidden {
    display: none !important;
}

a,
.options-container>button,
.button-as-link {
    color: #00635D;
    text-decoration: none;
}

.logo-container {
    display: flex;   
    align-items: center;
    text-decoration: none;
    color: black
}
.logo-container:hover {
    text-decoration: none;
}

.button-as-link {
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

a:hover,
.options-container>button:hover,
.button-as-link:hover {
    text-decoration: underline;
    cursor: pointer;
}


.fa-star,
.fa-star-half-stroke {
    color: #e87400;
}

/* 
    background-color: #f4f1ea;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
    background-color: #333333; button color
    background-color: #564848; button color hover
*/