.profile-dropdown {
  position: absolute;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem 5rem;
  height: 5rem;
  width: 100%;
  background-color: #f4f1ea;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
}

.nav-bar > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}