.profile-header {
    display: flex;
    width: fit-content;
    align-items: center;
    gap:20px;
}

.profile-header>img {
    width: 100px;
}

.followers-section {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.bio-section {
    margin: auto;
    width: fit-content;
}