.review-container img {
    width: 100%;
}

.profile-img-container {
    width: 4rem;
    border-radius: 50%;
    overflow: hidden;
    height: 4rem;
}

.review-container {
    display: flex;
    flex-shrink: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-right: 2rem;
}
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.review-header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.review-text {
    width: min-content;
    width: 100%;
}

.review-content {
    width: 100%;
}

.options-container {
    padding-bottom: 1rem;
}