.book-details-page {
    display: flex;
    width: 100%;
    margin: 0;

}

#root {
    width: 100%;
}

.book-info-container,
.book-image-container {
    padding: 2rem;
    padding-left: 0;
    box-sizing: border-box;
}
.book-info-container {
    padding-left: 20rem;
    min-height: 25rem;
    width: 100%;
}

.book-image-container {
    position: sticky;
    top: 5rem ;
    left: 2rem;
    width: fit-content;
    height: 100%;
}
#book-cover {
    width: 15rem;
}

.dummy-book-display {
    margin-left: 20rem;
    width: 0;
}

.book-info-container {
    display: flex;
    margin: 0;
    padding: 0;
}

.book-details-page-container {
    position: relative;
    height: fit-content;
    display: flex;
}


#book-cover {
    width: 15rem;
}

.add-buttons-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.add-to-list-button {
    width: 11rem;
}