.book-details-page {
    display: flex;
    max-width: 1024px;
    margin: auto;
}

.book-info-container,
.book-image-container {
    padding: 2rem;
    box-sizing: border-box;
}

.book-image-container {
    top: 5rem ;
    left: 2rem;
    position: fixed;
}

.dummy-book-display {
    width: 30rem;
}

.book-details-page-container {
    display: flex;
}