.options-container>button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

#book-display-image {
    width: 4rem;
}

.book-container {
    margin: 1rem;
}

.review-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: small;
    color: gray;
}

.author-name {
    margin-bottom: 0;
}