.nav-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(244, 241, 234, 1);
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.15);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0 2rem;
    height: 4rem;
    z-index: 1;
}

.nav-bar-container>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 0 0.5rem;
    box-sizing: border-box;
}

.nav-bar-right-container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.fa-brands {
    color: #ad957d;
    font-size: 1.5rem;
}

.fa-brands:hover {
    color: #333;
}

.nav-bar-container>a:hover {
    text-decoration: none;
}

.user-icon-container {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

.dummy-nav-bar {
    height: 5rem;
}

.nav-bar-links {
    text-decoration: none;
    color: black;
    height: 100%;

}
.nav-bar-links>span {
    font-size: 0.75rem;
}

.nav-bar-links:hover {
    background-color: #333333;
    color: white;
    text-decoration: none;
}

.search-bar-container {
    border: 1px solid rgba(128, 128, 128, 0.25);
    padding: 0.25rem;
    background-color: white;
    border-radius: 0.25rem;
    
}

.search-bar-container>input {
    border: none;
    width: 20rem;;
}

.search-bar-container>input:focus{
    outline: none;
}

.search-bar-container>button {
    background-color: transparent;
    border: none;
}

.search-bar-container>button:hover {
    cursor: pointer;
}